.logo {
    color: #fff;
    font-size: 50px;
    line-height: 125px;
}

.welcome {
    margin: 24vh auto 0 auto;
    width: 210px;
    color: white;
    text-align: center;
}

.title {
    font-size: 2.6rem;
    text-align: center;
    margin: 0;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.message {
    font-size: 1.4rem;
    margin: 0;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}



.input_list {
    border-right: 1px solid #fff;
    padding: 0px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25%;
}

.forgot_pass_link {
    width: 48%;
    text-align: left;
    display: inline-block;
}

div>a.forgot_pass_link {
    color: #428bca;
    text-decoration: none;
    background-color: transparent;
}

.signUp {
    width: 50%;
    text-align: right;
    display: inline-block;
}

div>a.signUp {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000000;
    color: #eee;
    font-weight: bold;
    /* margin-bottom: 2em; */
    text-transform: uppercase;
    padding: 5px 10px;
    /* height: 40px; */
    width: auto;
}


.spinner {
    display: flex;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #212F3D;
	
}

li {
	float: right;

}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	

}

li a:hover {
	background-color: #111;
}
/* TABLETS */
@media only screen and (min-width: 768px) {
    .background_image {
        padding: 0 28%;
    }

    .logo {
        margin: 18vh auto 0 auto;
        /* width: 190px; */
        margin-bottom: 15%;
    }


}

.welcome {
    margin: 21vh auto 0 auto;
    width: 235px;
}

.title {
    font-size: 3rem;
}

.message {
    font-size: 1.6rem;
    font-weight: 500;
}
